* {
    margin: 0px;
    padding: 0px;
    font-family: "inter";
}

#titulo-menusuperior{
    width: 1440px;
    height: 47px;
    padding-top: 206px;
    padding-left: 62px;
    /* Display xl/SemiBold */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    /* identical to box height, or 120% */
    letter-spacing: -0.025em;
    color: #FFFFFF;

}
#texto-menusuperior{
    width: 1024px;
    height: 120px;
    margin-left: 62px;
    bottom: 1829px;
    padding-top: 40px;
    padding-left: 13px;
    font-family: "inter";
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: white;

}
#menusuperior{
    width: 1440px;
    height: 475px;
    left: 0px;
    top: 0px;
    padding-right: 80px;
    background-color: #303030;
    color: white;
}
#menuinformacional{
    background: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    color: black;
    font-family: "inter";
    font-weight: bolder;
    height: 66.18px;
    font-style: normal;
    padding-left: 50px;
    padding-top: 42px;
    padding-bottom: 42px;
    align-items: center;
}
#secaofoto{
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
#textofoto{
    color: black;
    width: 100%;
    padding-top: 300px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    float: left;
    font-family: "inter";
    font-weight: bolder;
    font-size: 40px;
    line-height: 20px;
}
#informacaotextofoto{
    color: black;
    padding-left: 100px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    float: left;
    font-weight: 500px;
    line-height: 28px;

}
#fotocentral{
    margin: 50px 25px 50px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    display: flex;
    float: right;
    float: top;
}
#formulario{
    background-color: #303030;
    text-align: center;
    padding-bottom: 50px;
}
#titulo-formulario{
    color: white;
    font-size: 32px;
    padding-top: 87px;
    padding-bottom: 20px;
}

input{
    height: 72px;
    width: 508px;
    left: 466px;
    top: 1661px;
    border-radius: 10px;
    border: 0px;
    background-color: white;
    margin: 25px;
    padding-left: 20px;
}

button{
    background-color:#C07212;
    width: 186px;
    height: 50px;
    left: 577px;
    top: 1955px;
    border-radius: 10px;
    border: 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #cd8033;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px  #d3761a92;
    transition-duration: 0.5s;
}
